p {
color: blueviolet;
font-size: 30px;
background-image: image.png;
background-size: 40px;

}
li { color: darkred;
 font-size: 69px;
 margin-top: 10px;

}
#h1 {
color: green;
font-family: cursive;}
#h2{
color: yellow;
font-family: sans-serif;}
#p5{
color: yellow;
font-size: 30px;}

#ul1{
color: green;
background-color: lightyellow;
font-size: 40px;}


.newpara{
background-color: green;
font-size: 40px;}
.hello{ font-size:50px; font-family:unset; background-color:blueviolet; 
margin-left:42px;
align column-rule-width:10px; }